{% extends 'base.html' %}

{% block title %}main page{% endblock title %}

{% block content %}
    <div class="ui grid">
        <div class="eleven wide column">
            <div style="padding-bottom: 1px"></div>
            {% for obj in qs %}
                <div class="ui fluid card darkest post">
                    <div class="content">
                        <div class="right floated meta">
                            <div class="ui grid">
                                <div class="row">
                                    {% if request.user == obj.author.user %}
                                        <a href="{% url 'posts:post-update' obj.pk %}">
                                            <button id="edit-btn" class="ui icon button darker">
                                                <i class="edit icon"></i>
                                            </button>
                                        </a>
                                        <a href="{% url 'posts:post-delete' obj.pk %}">
                                            <button id="edit-btn" class="ui icon button darker">
                                                <i class="close icon"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <img class="ui avatar image" src={{ obj.author.avatar.url }}>&nbsp;
                        <span style="color: #ffc800">@</span><a style="color: #b690ea"
                                                                href="{% url 'profiles:profile-detail-view' obj.author.slug %}">{{ obj.author.user }}</a>
                        - {{ obj.created|timesince }} ago
                    </div>
                    <div class="ui fluid image">
                        {% if obj.image %}
                            <img src={{ obj.image.url }}>
                        {% endif %}
                    </div>
                    <div class="content">
                        <a href="{% url 'posts:tag-post-view' obj.tags %}">
                            <button class="ui right floated button darkest">
                                <span style="color: #9957f6">#</span>
                                <span style="color: #d4d3d3">{{ obj.tags }}</span>
                            </button>
                        </a>
                        <p> {{ obj.content }} </p>
                        <br>
                        <div>
                            <i style="color: #ffc800" class="chevron up icon"></i>
                            <span class="ui darkest upvote-count{{ obj.id }}"> {{ obj.num_upvote }}</span>&nbsp; upvotes
                        </div>
                        <div>
                            <i style="color: #9957f6" class="comment icon"></i>
                            <span> {{ obj.num_comments }}&nbsp; comments</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="mb-5"></div>
                        <div class="right floated">
                            <form action="{% url 'posts:upvote-post-view' %}" method="POST" class="upvote-form"
                                  id="{{ obj.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{ obj.id }}>
                                <button type="submit" class="ui icon button dark upvote-btn{{ obj.id }}">
                                    {% if profile not in obj.upvoted.all %}
                                        Upvote
                                    {% else %}
                                        Downvote
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                        <button class="cmt_btn ui button darker mb-5">show / hide comments</button>
                        <div class="comment-box">
                            {% if obj.comment_set.all %}
                                {% for c in obj.comment_set.all %}
                                    <div class="ui segment mb-5 darker">
                                        <img class="ui avatar image" src={{ c.user.avatar.url }}>
                                        <span>{{ c.user }}</span>
                                        <div class='mt-5'>{{ c.body }}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <form action="" method="POST" class='ui fluid form'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{ obj.id }}>
                            {{ c_form }}
                            <button type="submit" name="submit_c_form" class="ui primary button mt-5 w-full dark">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="five wide column" style="text-align: center">
            <div style="padding-bottom: 15px"></div>
            <div id="new_post" class="pst_btn ui animated darkest button" tabindex="0">
                <div class="visible content" style="padding-left: 20px; padding-right: 20px">New post</div>
                <div class="hidden content">
                    <i class="plus icon"></i>
                </div>
            </div>
            <div class="post-box">
                {% if post_added %}
                    <div class="ui green message">Post added</div>
                {% endif %}
                <div style="padding-bottom: 10px"></div>
                <form action="" method="POST" class='ui form' style="text-align: center" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ p_form.as_p }}
                    <div style="padding-bottom: 10px"></div>
                    <button
                            id="sendpost" type='submit' name="submit_p_form"
                            class="ui positive button w-full mt-5 yellow">Send
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}