{% extends 'base.html' %}

{% block title %}
    update post
{% endblock title %}

{% block content %}
    <div class="ui segment darkest">
        <h3>Update post</h3>
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br><br>
            <button class="ui icon button dark">
                <i style="color: green" class="save icon"></i>&nbsp;&nbsp;&nbsp;Submit
            </button>
        </form>
    </div>
{% endblock content %}