{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <br>
    <div style="text-align: center"
         class="ui button fluid huge darkest">
        <h1>Sign <span style="color: #ffc800">Up</span></h1>

        <p>{% blocktrans %}Already have an account? Then please
            <a style="color: #9957f6" href="{{ login_url }}">sign in</a>
            .{% endblocktrans %}</p>

        <form class="signup ui form darkest" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="ui right labeled icon button dark" type="submit">
                {% trans 'Sign Up' %}
                <i style="color: #ffc800" class="sign in alternate icon"></i>
            </button>
        </form>
    </div>
{% endblock %}
